.icon {
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-bank {
    background-image: url('../icons/bank.png');
    height: 32px;
    width: 32px;
    display: inline-block;
}
.icon-visa {
    background-image: url('../icons/visa.png');
    height: 38px;
    width: 55px;
}
.icon-mastercard {
    background-image: url('../icons/mastercard.png');
    height: 47px;
    width: 71px;
}
.icon-maestro {
    background-image: url('../icons/maestro.png');
    background-repeat: no-repeat;
    height: 47px;
    width: 75px;
}